DATABASE_URL=mongodb+srv://lusandamposula_db_user:A4Y2XtUlCdUjt3uT@grithub2.d8m5e5u.mongodb.net/?appName=grithub2
PAYLOAD_SECRET=YOUR_SECRET_HERE
NEXT_PUBLIC_SANITY_PROJECT_ID="67zfq8ba"
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=v2024-12-15
NEXT_PUBLIC_SERVER_URL=http://localhost:3000