
.submitBtn{
    position: absolute;
    top: 0;
    right: 0;
    height: 58px;
    border: 0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #ced4da;
}

.formFieldB{
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
}

.formCntr{
    height: 58px;
}


